# Data files
data

# Environment variables
.venv
venv
.env

# Python
**/__pycache__
.mypy_cache
.ipynb_checkpoints
.ruff_cache

# VS code
.vscode/settings.json

# IntelliJ
**/.idea/*

# MacOSX
.DS_Store

# SQLite
*.db
*.db-journal

# CSV files
*.csv
submission.csv

catboost_info/

*.h5

# AWS
.aws/*